label.item.has-error {
  border-bottom: 2px solid red;
}

.form-errors {
  margin: 5px 0
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.edit_input::-ms-clear {
  width : 0;
  height: 0;
}