<?xml version='1.0' encoding='utf-8'?>
<!--
 Copyright (c) Microsoft Open Technologies, Inc.  All Rights Reserved.
 Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information.
-->
<plugin id="cordova-plugin-ms-aad-graph" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Azure Active Directory Graph for Cordova</name>
    <description>Microsoft Azure Active Directory Graph Cordova plugin.</description>

    <license>Apache 2.0</license>
    <keywords>microsoft, azure, aad, graph</keywords>
    <repo>https://github.com/AzureAD/azure-activedirectory-cordova-plugin-graph</repo>
    <issue>https://github.com/AzureAD/azure-activedirectory-cordova-plugin-graph/issues</issue>

    <dependency id="cordova-plugin-ms-adal" url="https://github.com/azuread/azure-activedirectory-library-for-cordova.git"/>

    <js-module name="AADGraph" src="www/aadgraph.js">
        <clobbers target="Microsoft.AADGraph" />
    </js-module>

    <platform name="android">
    </platform>

    <platform name="ios">
    </platform>

    <platform name="windows">
    </platform>
</plugin>
