<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Restore Application</h1>
        <button class="button button-clear button-primary" ng-click="vm.cancelModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="restoreForm" novalidate="" ng-submit="vm.restore(restoreForm)">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Display Name</span>
                    <input type="text"
                           readonly="true"
                           name="displayname"
                           ng-model="vm.app.displayName">
                    <!--<span class="input-label">{{vm.app.displayName}}</span>-->
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error' : restoreForm.identifieruris.$invalid }">
                    <span class="input-label">Identifier URIs</span>
                    <input type="text" class="edit_input"
                           name="identifieruris"
                           ng-model="vm.updatedUris"
                           required>
                </label>

                <div class="form-errors"
                     ng-messages="restoreForm.identifieruris.$error"
                     ng-messages-include="views/validation-errors.html">
                </div>

                <button type="submit" class="button button-full button-positive">Restore</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>