<!--<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Add Application</h1>
            <button class="button button-clear button-primary" ng-click="vm.cancelModal()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input ng-model="newApp.displayName" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Identifier URIs</span>
                    <input ng-model="newApp.identifierUris" type="text">
                </label>
                <button class="button button-full button-positive" ng-click="vm.create(newApp)">Create</button>
            </div>
        </ion-content>
    </ion-modal-view>-->

<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Add App</h1>
        <button class="button button-clear button-primary" ng-click="vm.cancelModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="createForm" novalidate="">
            <div class="list">
                <label class="item item-input"
                       ng-class="{ 'has-error' : createForm.displayname.$invalid}">
                    <span class="input-label">Display Name</span>
                    <input ng-model="newApp.name"
                           type="text"
                           name="displayname"
                           class="edit_input"
                           required>
                </label>

                <div class="form-errors"
                     ng-messages="createForm.displayname.$error"
                     ng-messages-include="views/validation-errors.html">
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : createForm.identifieruris.$invalid}">
                    <span class="input-label">Identifier URIs</span>
                    <input ng-model="newApp.identifierUris"
                           type="text"
                           name="identifieruris"
                           class="edit_input"
                           required>
                </label>

                <div class="form-errors"
                     ng-messages="createForm.identifieruris.$error"
                     ng-messages-include="views/validation-errors.html">
                </div>

                <button ng-click="vm.create(createForm, newApp)" class="button button-full button-positive">Create</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>