<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Add Group</h1>
        <button class="button button-clear button-primary" ng-click="vm.cancelModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="createForm" novalidate="">
            <div class="list">
                <label class="item item-input"
                       ng-class="{ 'has-error' : createForm.displayname.$invalid}">
                    <span class="input-label">Name</span>
                    <input ng-model="group.name"
                           type="text"
                           name="displayname"
                           class="edit_input"
                           required>
                </label>

                <div class="form-errors"
                     ng-messages="createForm.displayname.$error"
                     ng-messages-include="views/validation-errors.html">
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : createForm.description.$invalid}">
                    <span class="input-label">Description</span>
                    <input ng-model="group.description"
                           type="text"
                           name="description"
                           class="edit_input">
                </label>

                <div class="form-errors"
                     ng-messages="createForm.description.$error"
                     ng-messages-include="views/validation-errors.html">
                </div>

                <button ng-click="vm.create(createForm, group)" class="button button-full button-positive">Create</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>