<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Get temporary password</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="content">
            Successfully created user {{vm.userPrincipalName}} with the following new password:
            <label class="title">
                <span class="input-label">New Password</span>
                <input type="text"
                       class="edit_input"
                       ng-change="vm.onReadOnlyInputChanged()"
                       ng-model="vm.password">
            </label>

            <button class="button button-full button-positive" ng-click="vm.cancelTempPasswordModal()">OK</button>
        </div>
    </ion-content>
</ion-modal-view>