<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Reset Password</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="content">
            Successfully reset the password for user {{vm.user.userPrincipalName}} to the following temporary password:
            <label class="title">
                <span class="input-label">New Password</span>
                <input type="text"
                       ng-change="vm.onReadOnlyInputChanged()"
                       class="edit_input"
                       ng-model="vm.updatedFields.password">
            </label>

            <button class="button button-full button-positive" ng-click="vm.cancelResetPasswordModal()">OK</button>
        </div>
    </ion-content>
</ion-modal-view>