<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Edit User</h1>
        <button class="button button-clear button-primary" ng-click="vm.cancelEditModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">        
        <form name="userForm" novalidate="" ng-submit="vm.edit(userForm)">
            <div class="list">
                <span ng-include src="'views/user-form-content.html'"></span>
                <button type="submit" class="button button-full button-positive">Edit</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>