<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Add User</h1>
        <button class="button button-clear button-primary" ng-click="vm.cancelAddModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="userForm" novalidate="">
            <div class="list">
                <span ng-include src="'views/user-form-content.html'"></span>
                <button ng-click="vm.create(userForm)" class="button button-full button-positive">Create</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>