<label class="item item-input">
    <span class="input-label">First Name</span>
    <input ng-model="vm.updatedFields.firstName"
           type="text"
           name="firstname"
           class="edit_input">
</label>

<label class="item item-input">
    <span class="input-label">Last Name</span>
    <input ng-model="vm.updatedFields.lastName"
           type="text"
           name="lastname"
           class="edit_input">
</label>

<label class="item item-input"
       ng-class="{ 'has-error' : userForm.username.$invalid}">
    <span class="input-label">User Name</span>
    <input type="text"
           class="edit_input"
           name="username"
           ng-model="vm.updatedFields.userName"
           required>
    <span class="item-note">@{{vm.tenantName}}</span>
</label>

<div class="form-errors"
     ng-messages="userForm.username.$error"
     ng-messages-include="views/validation-errors.html">
</div>

<label class="item item-input"
       ng-class="{ 'has-error' : userForm.displayname.$invalid }">
    <span class="input-label">Display Name</span>
    <input type="text" class="edit_input"
           name="displayname"
           ng-model="vm.updatedFields.displayName"
           required>
</label>

<div class="form-errors"
     ng-messages="userForm.displayname.$error"
     ng-messages-include="views/validation-errors.html">
</div>