<ion-view view-title="Users">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ng-click="vm.addModal.show()">
            Add
        </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true">
        <ion-list>
            <ion-item ng-repeat="user in vm.users" ng-click="vm.open(user.objectId)">
                {{user.displayName}}
                <p>{{user.userPrincipalName}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
